{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'js/validateSearch.js' %}" defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<h1>Welcome to DealHopper</h1>
<p>Hop to the best deals</p>

<form class="search-container" action="{% url 'search' %}" method="get" onsubmit="return validateSearch()">
    <input type="text" id="search" name="search" placeholder="Redmi Note 13..." class="search-input">
    <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
    </button>
</form>
<p id="error-message" style="color: red; display: none;">Please enter a phone</p>

<div class="phones-container">
    {% for phone in phones %}
        <a class="phone-card" href="{% url 'search' %}?search={{ phone }}">{{ phone }}</a>
    {% endfor %}
</div>

{% if phones|length == 0 %}
    <p class="no-phones-message">Hi there! Start by fetching data to see available phones.</p>
{% endif %}

{% endblock %}
