/* .results-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.result-item {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-content {
    display: flex;
    gap: 20px;
}

.result-details {
    flex: 1;
}

.result-store {
    flex: 1;
}

.result-link {
    color: #007BFF;
    text-decoration: none;
}

.result-link:hover {
    text-decoration: underline;
}

.result-item p {
    margin: 5px 0;
    color: black;
} */


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.search-results {
    flex: 2;
    max-width: 66%;
}

.recommendations {
    flex: 1;
    max-width: 33%;
}

.results-list {
    
    list-style: none;
    padding: 0;
}

.result-item {
    margin-bottom: 20px;
}

.result-content {
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.result-details, .result-store {
    width: 48%; 
}

.result-image {
    display: flex;
    align-items: center;  
    justify-content: center;  
    width: 350px;
    margin: 0 auto;  
    padding-left: 20px;
}

.result-link {
    padding: 10px;
    background-color: var(--main-blue);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color ease 0.3s;
}

.result-link:hover {
    background-color: #0056b3;
}

.shop-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}

.recommendation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin: 10px;
    padding: 10px 30px;
}

.search-it-link {
    height: 20px;
    padding: 10px;
    color: black;
    border-radius: 25px;
    border: 2px solid var(--main-blue);
    text-decoration: none;
    transition: background-color ease 0.3s;
}

.search-it-link:hover {
    background-color: var(--main-blue);
    color: white;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .search-results {
        max-width: 100%; 
    }

    .recommendations {
        max-width: 100%; 
        margin-top: 20px; 
    }
}

@media (max-width: 480px) {
    .result-content {
        flex-direction: column; 
    }

    .result-details, .result-store {
        width: 100%; 
    }
}

